*{
    font-family: Arial, sans-serif; /* устанавливаем шрифты */
}

body{
    background: #ffc2c2; /* задний фон */
    margin: 0; /* убираем стандартные отступы браузера */
    padding: 0;
    background-image: url(https://phonoteka.org/uploads/posts/2021-03/1616702859_47-p-fon-na-zadnii-plan-51.jpg);
}

header{
    background-color: #e8e8e8; /* задний фон шапки */
    padding: 15px 30px; /* внутренние отступы шапки */
    display:flex; /* объединяет блоки и легко выравнивает их между собой */
    justify-content: space-between; /* задание одинакового расстояния между блоками */
    width: 97%;
    position: sticky;
    top: 0px;
    z-index: 9999;
}

.logo{
    display:flex; /* объединяет блоки и легко выравнивает их между собой */
    align-items: center; /* выравнивание логотипа вертикально */
}

.logo-img{
    margin-right: 15px; /* внешний отступ справа */
}

.logo img{
    width: 60px;
}

.logo-title{
    color: black; /* цвет названия сайта */
    font-size: 32px; /* размер букв названия сайта */
    font-weight: bold; /* ширина шрифта названия сайта */
} 

.hor-menu{
    display:flex; /* объединяет блоки и легко выравнивает их между собой */
    align-items: center; /* выравнивание списка вертикально */ 
}

.hor-menu ul li{
    list-style-type: none; /* отменяет маркеры для списка */
    float: left; /* выравнивание слева */ 
    padding: 15px 0px; /* верхние-нижние и левые-правые внутренние отступы */
    font-family: Arial, sans-serif; /* устанавливаем шрифты */
}

.a{
    display: flex;
    align-content: center;
}

.a p{
    opacity: 0.5;
    padding: 0px 5px;
}

.hor-menu ul li a{
    color: black; /* цвет текста меню */
    text-decoration: none; /* выключение подчёркивания гиперссылок */
    padding: 10px 15px; /* верхние-нижние и левые-правые внутренние отступы */
}

.hor-menu ul li a:hover{ /* анимация */
    background: #a10000; /* цвет рамки вокруг слов у меню при наведении */
    color: white; /* цвет текста меню при наведении */
    transition: all 0.5s; /* скорость анимации */
}

.fof{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oops{
    font-size: 100px;
    margin: 0 auto;
    display: flex;
}

.error{
    font-size: 30px;
    line-height: 1;
    align-items: center;
}

.fof p{
    color: darkred;
    font-family: Arial Black, sans-serif;
}

.wrapper{
    max-width: 1200px; /* максимальная ширина */
    margin: 0 auto; /* дефолтные отступы браузера отключены */
    padding: 50px; /* внутренняя рамка 50 пикселей со всех сторон */
    display: flex; /* объединяет блоки и легко выравнивает их между собой */
    justify-content: center; /* выравнивает по центру, распределяет место между блоками */
}

.content{
    max-width: 1920px; /* максимальная ширина */
    min-width: 360px; /* минимальная ширина */
    padding: 40px; /* внутренние рамки 20 пикселей со всех сторон */
    background: #e8e8e8; /* цвет за новостным текстом и картинкой */
    float: center; /* выравнивание по центру */
    display: flex; /* объединяет блоки и легко выравнивает их между собой */
    flex-direction: column; /* расположение сверху-вниз */
    margin-top: 6vw;
    z-index: -10;
}

p{
    margin: 0;
}

.poff{
    align-items: center;
}

.ror{
    margin-top: 30px;
    opacity: 0.5;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.one{
    display: inline-block;
    justify-content: center;
}

footer{
    background-color: #e8e8e8;
    color: black;
    padding: 20px 50px 50px 10px;
    display: flex;
    position: absolute;
    top: 78%;
    margin: 100px 0 0 0;
    width: 100%
}

p{
    margin: 0 auto;
}

.fot{
    display: flex;
    justify-content: center;
    color: #2c3e50; /* цвет заголовка */
    font-weight: 600; /* толщина букв заголовка */
    font-size: 200%; /* размер шрифта заголовка */
}

.mobile{
	display: none;
}


@media (max-width: 1328px) {
   /* показываем кнопку для переключения верхней навигации */
   	header {
    	padding: 10px 0 15px 20px;
  	}

  	.hor-menu{
  		display: none;
  	}

  	.mobile{
    	display:flex; /* объединяет блоки и легко выравнивает их между собой */
    	align-items: center; /* выравнивание списка вертикально */
    	font-size: 35px;
    	width: 60%;
	}

	.mobile p{
    	list-style-type: none; /* отменяет маркеры для списка */
    	font-family: Arial, sans-serif; /* устанавливаем шрифты */
    	color: black; /* цвет текста меню */
    	padding: 10px 15px; /* верхние-нижние и левые-правые внутренние отступы */
	}

	.list a{
		text-decoration: none;
		margin: 0 0px 0 0px;
    	color: black; /* цвет названия сайта */
    	font-size: 32px; /* размер букв названия сайта */
    	font-weight: bold; /* ширина шрифта названия сайта */
	}

	select{
		height: 40%;
		width: 18px;
		background-color: #a10000;
		border-radius: 20px;
	}
}
